[Unit]
Description=TVM3U Server
After=multi-user.target

[Service]
ExecStart=/home/tvm3u/tvm3u/bin/tvm3u
WorkingDirectory=/home/tvm3u/tvm3u
Restart=always
User=tvm3u

[Install]
WantedBy=default.target
